* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}


/* header styles */

header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 50px;
}

nav {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
}

nav ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin-right: 50px;
}

.social-icons li {
    list-style: none;
    display: flex;
    margin-left: 20px;
    justify-content: center;
    align-items: center;
}

.fab {
    background: rgb(223, 48, 48);
    color: #fff;
    padding: 10px;
}


/* end of header styles */


/* hero styles */

.hero {
    display: flex;
    width: 100%;
    justify-content: space-between;
    min-height: 100vh;
}

.hero-text {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    background: rgb(206, 42, 42);
    color: #fff;
    padding-top: 210px;
    padding-bottom: 150px;
}

.hero-text h1 {
    font-size: 6rem;
    width: 100%;
    display: flex;
}

.hero-text p {
    margin-top: 20px;
    width: 80%;
    line-height: 2rem;
    font-size: 1.3rem;
    display: flex;
}

.hero-text button {
    margin-top: 50px;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 600;
    padding: 25px;
    cursor: pointer;
    background: transparent;
    color: #fff;
    border: 3px solid #fff;
    outline: none;
}

.hero-image {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
    background: url(../images/herocar.webp);
    background-color: rgb(31, 29, 29);
    opacity: 1;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: cover;
}

.hero-image img {
    width: 100%;
}

.contact-details {
    display: flex;
    flex-direction: column;
    position: absolute;
    border: 3px solid #fff;
    background: none;
    top: 110%;
    right: 3%;
    padding: 30px;
    color: #fff;
    width: 30%;
}

.location {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.location i {
    color: rgb(206, 42, 42);
    margin-right: 10px;
    font-size: 2rem;
}

.phone-details {
    margin-left: 10px;
    width: 80%;
}

.about-us {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
}

.about-image {
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.about-image img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 600px;
    margin: 100px;
    margin-left: 350px;
}

.about-text {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.head-text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.head-text h3 {
    color: rgb(206, 42, 42);
    text-transform: uppercase;
}

.head-text h1 {
    width: 100%;
    margin-top: 20px;
    font-size: 3rem;
}

.text-description {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-top: 30px;
}

.text-description p {
    margin-top: 20px;
    display: flex;
    line-height: 2;
}

.about-text button {
    display: flex;
    width: 40%;
    outline: none;
    border: 3px solid rgb(206, 42, 42);
    background: transparent;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.client-total {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: none;
    background: rgb(206, 42, 42);
    color: #fff;
    padding: 30px;
    position: absolute;
    top: 230%;
    left: 10%;
    height: 300px;
    width: 20%;
}

.client-total p {
    margin-top: 20px;
    font-size: 1.5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.client-total h1 {
    font-size: 3rem;
    margin-top: 5px;
    font-weight: 900;
}


/* end of hero styles */